# Testing Table Generator

In [1]:
from IPython.display import display, HTML
import lib_path
from smalllab.nt import totient

In [2]:
display(HTML('<h1>Hello World!</h1>'))

In [3]:
T = """
<table>
    <tr>
        <th>Item</th>
        <th>Count</th>
    </tr>
    <tr>
        <td>Mango</td>
        <td>125</td>
    </tr>
    <tr>
        <td>Orange</td>
        <td>75</td>
    </tr>
</table>"""

In [4]:
display(HTML(T))

## Horizontal, no heading, 1 row

In [5]:
def table_h(L):
    s = "<table>"
    s += "<tr>"
    for i in L:
        s += "<td>" + str(i) + "</td>" 
    s += "</tr>"
    s += "</table>"
    return s

In [6]:
num = [1, 2, 3, 4]
squares = [1, 4, 9, 16]
T = table_h(num)
HTML(T)

## Vertical, no heading, 1 column

In [7]:
def table_v(L):
    s = "<table>"
    for i in L:
        s += "<tr>"
        s += "<td>" + str(i) + "</td>" 
        s += "</tr>"
    s += "</table>"
    return s

In [8]:
num = [1, 2, 3, 4]
squares = [1, 4, 9, 16]
T = table_v(num)
HTML(T)

## Horizontal, no heading, many rows

In [9]:
def table_h(*Ls):
    s = "<table>"
    for L in Ls:
        s += "<tr>"
        for j in L:
            s += "<td>" + str(j) + "</td>"
        s += "</tr>"    
    s += "</table>"
    return s

In [10]:
ns = [1, 2, 3, 4]
squares = [i*i for i in ns]
cubes= [i**3 for i in ns]
T = table_h(ns, squares, cubes)
HTML(T)

## Vertical, no heading, many columns

In [11]:
def table_v(*Ls):
    s = "<table>"
    for j in range(len(Ls[0])):
        s += "<tr>"
        for k in range(len(Ls)):
            s += "<td>" + str(Ls[k][j]) + "</td>"
        s += "</tr>"    
    s += "</table>"
    return s

In [12]:
ns = [1, 2, 3, 4]
squares = [i*i for i in ns]
cubes= [i**3 for i in ns]
T = table_v(ns, squares, cubes)
HTML(T)

## Horizontal, heading, many rows

In [13]:
def table_h(H: list, *L: list) -> str:
    """Return html table with heading H and rows *L = L1, l2, ..., Ln.
    If there is no heading, enter empty list as the first argument.
    """
    list_count = len(L)
    elem_count = len(L[0])
    
    s = "<table>"
    for j in range(list_count):
        s += "<tr>"
        if H:
            s += "<th>" + str( H[j] ) + "</th>"
        for k in range(elem_count):
            s += "<td>" + str( L[j][k] ) + "</td>"
        s += "</tr>"
        
    s += "</table>"
    return s

In [14]:
help(table_h)

Help on function table_h in module __main__:

table_h(H: list, *L: list) -> str
    Return html table with heading H and rows *L = L1, l2, ..., Ln.
    If there is no heading, enter empty list as the first argument.

In [15]:
ns = [1, 2, 3, 4]
squares = [i*i for i in ns]
cubes= [i**3 for i in ns]
head = ['$n$', '$n^2$', '$n^3$']
T = table_h(head, ns, squares, cubes)
HTML(T)

In [16]:
T = table_h([], ns, squares, cubes)
HTML(T)

## Vertical, heading, many columns

In [17]:
def table_v(H: list, *L: list) -> str:
    """Return html table with heading H and columns *L = L1, l2, ..., Ln.
    If there is no heading, enter empty list as the first argument.
    """
    list_count = len(L)
    elem_count = len(L[0])
    
    s = "<table>"
    if H:
        s += "<tr>"
        for h in H:
            s += "<th>" + str( h ) + "</th>"
        s += "</tr>"
    
    for j in range(elem_count):
        s += "<tr>"
        for k in range(list_count):
            s += "<td>" + str( L[k][j] ) + "</td>"
        s += "</tr>"  
        
    s += "</table>"
    return s

In [18]:
help(table_v)

Help on function table_v in module __main__:

table_v(H: list, *L: list) -> str
    Return html table with heading H and columns *L = L1, l2, ..., Ln.
    If there is no heading, enter empty list as the first argument.

In [19]:
ns = [1, 2, 3, 4]
squares = [i*i for i in ns]
cubes= [i**3 for i in ns]
head = ['$n$', '$n^2$', '$n^3$']
T = table_v(head, ns, squares, cubes)
HTML(T)

In [20]:
T = table_v([], ns, squares, cubes)
HTML(T)

## Display Euler Phi Function

In [21]:
help(totient)

Help on function totient in module smalllab.nt:

totient(n: int) -> int
    Count the number of positive integers <= n that are coprime to n.

In [22]:
ns = list(range(5, 20))
phi = [totient(i) for i in ns]
head = ['$n$', '$\phi(n)$']
T = table_h(head, ns, phi)
HTML(T)

## Display modulo

In [23]:
ns = list(range(11))
mod3 = [i**3 % 11 for i in ns]
head = ['$x\pmod{11}$', '$x^3\pmod{11}$']
T = table_h(head, ns, mod3)
HTML(T)

## Todo

- input validition
- display nested list or matrix
- display dictionary
- make 2 index or heading
- dealing with fraction entries and latex
- display cartesian product or cayley table
- display simplex table and show marks for pivot column or row
- display table for hungarian method